*{
  margin: 0px;
  padding: 0px;
}
.App {
  flex-direction: column;
  display: flex;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  border: solid rgb(8, 8, 8) 1px;
  width: 100%;
}
.body-project{
  margin-top: 100px;
  width: 70%;
  align-self: center;
}
h1{
  font-size: 36px;
  font-weight: 400;
}
p{
  font-size: 16px;
  margin: 4px 0px 5px 0px;
}
.btn-default{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 250px);
}
/*-----------------Button Library --------------*/
.btn, 
.btn-def,
.btn-out,
.btn-out-hover{
  width: 73px;
  height: 32px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}
.btn:hover{
  background-color: silver;
}
.btn-def{
  background-color: rgb(134, 134, 134);
}
.btn-out,
.btn-out-hover{
  background: none;
  outline: 1px solid blue;
}
.btn-out-hover{
  background-color: rgba(0, 0, 255, 0.09);
}